/* src/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

/* 조금 더 깔끔한 스크롤 */
* {
  scrollbar-width: thin;
  scrollbar-color: #2a2a2f transparent;
}

*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-thumb {
  background: #2a2a2f;
  border-radius: 999px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
